<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Induction Challenges</title>
</head>
<body>
<h1>Welcome the the Induction Challenges</h1><br>
<h2>How to submit the challenges:</h2>
Send a POST request to the answer URL that we have provided. Format:
<p style="color:grey">curl -X POST http://hogwartslibrary.com:777/api/<b>[SUBMISSION_KEY]</b>
    -d "Flag=<b>[FLAG]</b>&ID=<b>[YOUR ID]</b>"</p>
If you have any questions you can text: (785) 813-1143
<br>
<h3>Challenge 1:</h3>The flag is hidden inside the below text file.
<a download href="challengeItems/challenge1.txt">Download TXT File</a> <br>
Challenge 1 Submission Key: <b>0EHEOgBABoeLR</b>

</body>
</html>