<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Induction Challenges</title>
</head>
<body>
<h1>Welcome the the Induction Challenges</h1><br>
<h2>How to submit the challenges:</h2>
Send a POST request to the answer URL that we have provided. Format:
<p style="color:grey">curl -X POST http://hogwartslibrary.com:777/api/<b>[SUBMISSION_KEY]</b>
    -d 'Flag=<b>[FLAG]</b>&ID=<b>[YOUR ID]</b>'</p>
If you have any questions you can text: (785) 813-1143
<br>
<h3>Challenge 2:</h3>The flag is hidden inside the below image.
<a download href="challengeItems/stegasour.png">Download PNG File</a> <br>
Challenge 2 Submission Key: <b>W4qu75hmCXVJE</b>
</body>
</html>