<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Induction Challenges</title>
</head>
<body>
<h1>Welcome the the Grey Fellow's Induction Challenges</h1><br>
<h2>How to submit the challenges:</h2>
Send a POST request to the answer URL that we have provided. Format:
<p style="color:grey">curl -X POST http://hogwartslibrary.com:777/api/<b>[SUBMISSION_KEY]</b> -d Flag=<b>[FLAG]</b></p>
If you have any questions you can text: (785) 813-1143
<br>

<h2>The Challenges:</h2>

<h3>Challenge 1:</h3>The flag is hidden inside the below text file.
<a download href="challengeItems/challenge1.txt">Download TXT File</a> <br>
Challenge 1 Submission Key: <b>0EHEOgBABoeLR</b>

<h3>Challenge 2:</h3>The flag is hidden inside the below image.
<a download href="challengeItems/stegasour.png">Download PNG File</a> <br>
Challenge 2 Submission Key: <b>W4qu75hmCXVJE</b>

<h3>Challenge 3:</h3>
Solve the collatz conjecture for the numbers 50,000 to 50,500. Find any reductions that reach the 222th step
(counting like a programmer) and save the number at that step. The flag is these numbers appended together in a string.
<br> <br>
For example, let's examine numbers 0-100 for step 111. The only two numbers that take 111 steps or more to compute are
73 (reduces to 8 at the 111th step) and 97 (reduces to 20 at the
111th step). No other numbers make it to this step. Therefore the flag would be "8"+"20" so "820".
<br> <br>
Challenge 3 Submission Key: <b>2sO6kflUpe1o1</b>
</body>
</html>