<!DOCTYPE html>
<html lang="en">
<script src="javascript/plugins.js"></script>
<head>
    <meta charset="UTF-8">
    <link href="css/basic.css" rel="stylesheet">
    <title>NetSecure</title>
</head>
<body onload="NEWS(); WEATHER(); QoD();">
<div class="grid-container">
    <span class="header">NetSecure Dashboard</span>
    <span class="left">
            <h3 class="title">Links</h3>
            <a href="https://git.netsecure.dev" class="links"><img
                    src="images/gitlab.png" class="logos" width="70" height="70"/><span
                    class="logos">GitLab</span>
            </a>
            <br>
            <a href="https://kibana.netsecure.dev" class="links"><img
                    src="images/kibana.png" class="logos" width="70" height="70"/><span
                    class="logos">Kibana</span>
            </a>
            <br>
            <a href="https://pihole.netsecure.dev/admin" class="links"><img
                    src="images/pihole.png" class="logos" width="70" height="70"/><span
                    class="logos">PiHole</span>
            </a>
            <br>
            <a href="https://wiki.netsecure.dev" class="links"><img
                    src="images/wiki.png" class="logos" width="70" height="70"/><span
                    class="logos">Wiki</span>
            </a>
            <br>
            <a href="https://bit.netsecure.dev" class="links"><img
                    src="images/bitwarden.png" class="logos" width="70" height="70"/><span
                    class="logos">BitWarden</span>
            </a>
        </span>

    <span class="middle">
    <span> <!--Quote of the day.-->
        <h3 class="title">Quote:</h3>
            <p id="QoD_Quote">"Something went wrong."</p>
            <p id="QoD_Author">-The White Wolf</p>
    </span>
    <span>    <!--Weather Data-->
            <table>
                <tbody>
                <h3 class="title">Weather</h3>
                <tr style="height: 31.328125px;">
                    <td class="weather_header">Today</td>
                    <td class="weather_header">Tonight</td>
                    <td class="weather_header">Tomorrow</td>
                </tr>
                <tr style="height: 20vh;">
                    <td class="weather_data">
                        <p id="Today">Today's Weather Report
                        </p>
                    </td>
                    <td class="weather_data">
                        <p id="Tonight">Tonight's Weather Report
                        </p>
                    </td>
                    <td class="weather_data">
                        <p id="Tomorrow">Tomorrow's Weather Report
                        </p>
                    </td>
                </tr>
                </tbody>
            </table>
    </span>
    <span>    <!--IP Lookup-->
            <h3 class="title">IP Lookup</h3>
        <div style="text-align: center">
            IP Address: <input id='IP-ADDR' type="text">
            <button class="button" onclick="IP_LOOKUP()" style="align-content: center">Locate</button>
        </div>
    </span>
    </span>

    <span class="right">
        <span style="width: 167px;"><h3 class="title">News</h3></span>
        <!-- Scrolling Text Start -->
        <div class="scroll">
            <div id="news">
            </div>
        </div>
        <!-- Scrolling Text End -->
    </span>

    <!--<span class="footer">
        <p>Fill me in!</p>
    </span>-->

</div>

</body>
</html>