<!DOCTYPE html>
<html lang="en">
<script src="javascript/plugins.js"></script>
<head>
    <meta charset="UTF-8">
    <link href="css/basic.css" rel="stylesheet">
    <title>NetSecure</title>
</head>
<body onload="NEWS(); WEATHER()">
<div class="grid-container">
    <span class="header">NetSecure Dashboard</span>
    <span class="left">
            <h3 class="title">Links</h3>
            <a href="https://git.netsecure.dev" class="links"><img
                    src="images/gitlab.png" class="logos" width="70" height="70"/><span
                    class="logos">GitLab</span>
            </a>
            <br>
            <a href="https://kibana.netsecure.dev" class="links"><img
                    src="images/kibana.png" class="logos" width="70" height="70"/><span
                    class="logos">Kibana</span>
            </a>
            <br>
            <a href="https://pihole.netsecure.dev/admin" class="links"><img
                    src="images/pihole.png" class="logos" width="70" height="70"/><span
                    class="logos">PiHole</span>
            </a>
            <br>
            <a href="https://wiki.netsecure.dev" class="links"><img
                    src="images/wiki.png" class="logos" width="70" height="70"/><span
                    class="logos">Wiki</span>
            </a>
            <br>
            <a href="https://bit.netsecure.dev" class="links"><img
                    src="images/bitwarden.png" class="logos" width="70" height="70"/><span
                    class="logos">BitWarden</span>
            </a>
        </span>

    <span class="middle">
    <span> <!--Quote of the day.-->
        <h3 class="title">Quote:</h3>
            <p id="QoD_Quote">"Something went wrong."</p>
            <p id="QoD_Author">-The White Wolf</p>
    </span>
    <span>    <!--Weather Data-->
            <table>
                <tbody>
                <h3 class="title">Weather</h3>
                <tr style="height: 31.328125px;">
                    <td class="weather_header">Today</td>
                    <td class="weather_header">Tonight</td>
                    <td class="weather_header">Tomorrow</td>
                </tr>
                <tr style="height: 20vh;">
                    <td class="weather_data">
                        <p id="Today">Mostly sunny. Hot with highs in the upper 90s. Southwest winds 5 to 10 mph.
                        </p>
                    </td>
                    <td class="weather_data">
                        <p id="Tonight">Mostly clear. Lows in the mid 70s. Southwest winds 5 to 10 mph.
                        </p>
                    </td>
                    <td class="weather_data">
                        <p id="Tomorrow">Partly sunny. Showers and thunderstorms likely in the afternoon. Highs in the mid 90s. West winds 5 to 10 mph. Chance of rain 70 percent.
                        </p>
                    </td>
                </tr>
                </tbody>
            </table>
    </span>
    <span>    <!--IP Lookup-->
            <h3 class="title">IP Lookup</h3>
            IP Address: <input id='IP-ADDR' type="text">
            <button onclick="IP_LOOKUP()">Locate</button>
            <div id="IP_INFO">
                <p id="IP_City">City: </p>
                <p id="IP_Zip">Zip Code: </p>
                <p id="IP_Continent">Continent: </p>
                <p id="IP_Country">Country: </p>
                <p id="IP_IP">IP: </p>
                <p id="IP_ISP">ISP: </p>
                <p id="IP_Mobile">Is this a mobile device: </p>
                <p id="IP_Latitude">Latitude: </p>
                <p id="IP_Longitude">Longitude: </p>
                <p id="IP_Region">Region: </p>
                <p id="IP_DNS">Reverse DNS: </p>
                <p id="IP_Time">Time Zone: </p>
            </div>

    </span>
    </span>

    <span class="right">
        <span style="width: 167px;"><h3 class="title">News</h3></span>
        <!-- Scrolling Text Start -->
        <div class="scroll">
            <div id="news">
            </div>
        </div>
        <!-- Scrolling Text End -->
    </span>

    <span class="footer">
        <p>Fill me in!</p>
    </span>

</div>

</body>
</html>