<!DOCTYPE html>
<html lang="en">
<script src="javascript/plugins.js">
</script>
<head>
    <meta charset="UTF-8">
    <title>Hogwarts</title>
</head>
<body>
<h1>Hogwarts School for Witchcraft and Wizardry</h1>
<table border="3" style="height: 100%; float: left;" width="16%">
    <tbody>
    <tr>
        <td><h3>Links</h3></td>
    </tr>
    </tbody>
</table>
<table border="3" style="height: 100%; float: left;" width="50%">
    <tbody>
    <tr>
        <td style="width: 353px;"><h3>Quote</h3></td>
    </tr>
    <tr>
        <td style="width: 353px;">
            <h3>IP Lookup</h3>
            IP Address: <input id='IP-ADDR' type="text">
            <button onclick="IP_LOOKUP()">Locate</button>
            <span>{weather}</span>
        </td>
    </tr>
    <tr>
        <td style="width: 353px;">
            <table style="height: 145px;" width="346">
                <tbody>
                <h3>Weather</h3>
                <button onclick="WEATHER()">Load Weather</button>
                <tr style="height: 31.328125px;">
                    <td style="width: 57.375px; height: 31.328125px;">Monday</td>
                    <td style="width: 58.890625px; height: 31.328125px;">Tuesday</td>
                    <td style="width: 80.03125px; height: 31.328125px;">Wednesday</td>
                    <td style="width: 64.921875px; height: 31.328125px;">Thursday</td>
                    <td style="width: 50.796875px; height: 31.328125px;">Friday</td>
                </tr>
                <tr style="height: 68px;">
                    <td style="width: 57.375px; height: 68px;">&nbsp;</td>
                    <td style="width: 58.890625px; height: 68px;">&nbsp;</td>
                    <td style="width: 80.03125px; height: 68px;">&nbsp;</td>
                    <td style="width: 64.921875px; height: 68px;">&nbsp;</td>
                    <td style="width: 50.796875px; height: 68px;">&nbsp;</td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>
<table border="3" style="height: 100%; float: left;" width="32%">
    <tbody>
    <tr>
        <td style="width: 167px;"><h3>News</h3></td>
    </tr>
    </tbody>
</table>
</body>
</html>